@tailwind base;
@tailwind components;
@tailwind utilities;

.font-title-mono {
    font-family: 'IBM Plex Mono', monospace;
}

.font-title {
    @apply font-serif;
}

body {
    transition: all 0.5s ease;
}

pre code .line {
    display: block;
    min-height: 1rem;
}
